#{extends 'main.html' /}
#{set title:'Devoxx mobile' /}

<div data-role="page">
	<div data-role="header">
		<h1>Devoxx 2012</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li><a href="@{Application.scheduleOfDay(1)}" data-prefetch>Monday November 12</a></li>
			<li><a href="@{Application.scheduleOfDay(2)}" data-prefetch>Tuesday November 13</a></li>
			<li><a href="@{Application.scheduleOfDay(3)}" data-prefetch>Wednesday November 14</a></li>
			<li><a href="@{Application.scheduleOfDay(4)}" data-prefetch>Thursday November 15</a></li>
			<li><a href="@{Application.scheduleOfDay(5)}" data-prefetch>Friday November 16</a></li>
		</ul>
	</div>
</div>