#{extends 'main.html' /}
#{set title:'Devoxx mobile' /}

<div data-role="page" data-add-back-btn="true">
	<div data-role="header" data-position="fixed">
        <a data-rel="back">Back</a>
		<h1>Day ${day}</h1>
	</div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
        #{list talkGroups.asMap().entrySet()}
            <li data-role="list-divider">${_.getKey().fromTime.format('HH:mm')} - ${_.getKey().toTime.format('HH:mm')}</li>
            #{list _.getValue()}
                    <li>
                        <div>${_.title}</div>
                        <div>${_.room}</div>
                    </li>
            #{/list}
        #{/list}
        </ul>
    </div>
</div>